body {
  background-color: $ds-color-role-background;
  color: $ds-color-font-base;
  font-family: $ds-font-face-sans-serif;
  padding: 0;
  margin: 10%;
  max-width: 800px;
  height: vh100;
  &.brand-acme{
    color: $brand-color-font-base;
    background-color: $brand-color-role-background;
  }
  &.theme-dark{
    color: $dark-color-font-base;
    background-color: $dark-color-role-background;
  }
}

h1{
    font-family: $ds-font-face-slab-serif;
    font-size:   $ds-size-font-large;
    font-weight: $ds-font-weight-bold;
}
h2{
    font-family: $ds-font-face-slab-serif;
    font-size:   $ds-size-font-large;
    font-weight: $ds-font-weight-medium;
}
h3{
    font-family: $ds-font-face-slab-serif;
    font-size:   $ds-font-size-medium;
    font-weight: $ds-font-weight-regular;
}